body {
    margin: 0px;
    font-family: 'Bad Script', cursive;
}

* {
    box-sizing: border-box;
    transition: .2s ease-in-out;
}

div {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

button, input, textarea, select {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.25);
}

button, input, select {
    height: 32px;
}

button {
    border-color: $complementary-darkest;
    background-color: $complementary-dark;
    cursor: pointer;

    &.alt-button {
        border-color: $darkest;
        background-color: $normal;
    }

    &.dangerous-button {
        border-color: $darkest;
        background-color: $normal;
        color: red;
    }

    &.fancy-button {
        font-family: 'Bad Script', cursive;
        font-weight: bold;
    }

    &.icon-button {
        border: 0px;
        background: none;
        box-shadow: none;
        width: auto;
        height: auto;
        margin: 0px;
    }

    &:active {
        outline: none;
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
    }
}
    
input, textarea {
    background-color: white;
    border-color: $dark;

    &::placeholder {
        color: $dark;
    }

    &:focus {
        outline: none;
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
    }
}

select {
    background-color: white;
    border-color: $dark;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
    }
}

textarea {
    height: 96px;
    resize: none;
    overflow: hidden;
}

.app {
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    max-height: 100vh;
    padding: 20px;
    padding-top: 0px;
    @include flex;
    

    .content-wrapper {
        max-width: 800px;
        height: 100%;
        background-color: $lightest;
        position: relative;

        .content-wrapper-bg {
            height: 100%;
            height: 100%;
            background-image: url(../../static/assets/images/foodBackground.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            opacity: .1;
            position: absolute;
        }
    }
}

.page-wrapper {
    height: 100%;
    overflow: scroll;
    padding: 10px;
    border: 1px solid $darkest;
    border-radius: 5px;
    position: absolute;
    @include flex;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.form-wrapper {
    @include flex;
    width: 100%;
}