.navbar-wrapper {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    #app-header {
        text-align: center;
        margin: 5px 0px;
        font-size: 21px;
        font-family: 'Dancing Script', cursive;
        color: $complementary-darkest;
        -webkit-text-stroke-width: .01px;
        -webkit-text-stroke-color: $darkest;
    }

    .user-menu-wrapper {
        display: flex;
        justify-content: right;
        align-items: center;
        color: $darkest;

        .username {
            width: auto;
            font-weight: bold;
            text-overflow: ellipsis;
        }

        .menu {
            width: auto;
            margin-left: 5px;
            font-size: 21px;

            &.active {
                color: $complementary-darkest;
            }
        }

        .menu-wrapper {
            @include flex;
            opacity: 0;
            height: 0px;
            width: calc(100% - 40px);
            max-width: 800px;
            position: fixed;
            top: 41.6px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: $normal;
            border: 2px solid $complementary-darkest;
            border-radius: 5px;
            overflow: hidden;
            z-index: 1000;

            &.active {
                opacity: 1;
                height: calc(100% - 61.6px);
            }

            a, div {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: $complementary-lightest;
                }
            }

            a {
                border-bottom: 2px solid $darkest;
            }
        }
    }
}