.shoppinglist-form-wrapper {
    .ingredient-wrapper {
        @include flex;

        .icon-button {
            font-size: 25px;
            color: red;
            padding: 0px 1px;
            align-self: flex-end;
            margin-bottom: 2px;
        }
    }
}