.shoppinglists-page-wrapper {
    .shoppinglists-wrapper {
        @include flex;

        .shoppinglist-wrapper, .shoppinglist-wrapper-shared {
            display: flex;
            flex-direction: column;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.25);

            p {
                margin: 0px;
            }

            .name {
                font-weight: bold;
            }

            .created-on {
                font-size: 12px;
                color: $darkest;
            }
        }

        .shoppinglist-wrapper {
            border: 1px solid $dark;
            align-items: flex-start;
        }

        .shoppinglist-wrapper-shared {
            border: 1px solid $complementary-dark;
            align-items: flex-end;

            .shared-by {
                color: $darkest;
            }
        }

        &.shared-active {
            .shoppinglist-wrapper {
                width: 90%;
                align-self: flex-start;
            }

            .shoppinglist-wrapper-shared {
                width: 90%;
                align-self: flex-end;
            }
        }
    }
}